* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.heading-container {
    background-color: rgb(230, 238, 82);
    box-sizing: border-box;
    height: 10%;
    width: 100%;
    display: grid;
    place-items: center;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.content-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90%;
    font-weight: 900;
    background-color: #f2f2f2;
}

.input-container {
    box-sizing: border-box;
    padding: 0 3%;
    width: 25%;
    height: 100%;
}

.option {
    background-color: rgba(230, 238, 82, 0.25);
    margin-top: 8%;
    padding: 10%;
}

.division {
    background-color: rgba(25, 25, 25, 0.5);
    height: 90%;
    width: 3px;
    border-radius: 10px;
}

.output-container {
    box-sizing: border-box;
    display: flex;
    width: 75%;
    height: 100%;
}

.output-container input {
    all: unset;
}

.process-container, .memory-container {
    box-sizing: border-box;
    display: grid;
    place-items: center;
    width: 50%;
    height: 100%;
}

.process-label, .memory-label {
    font-size: 1.5em;
}

#process-stack, #memory {
    box-sizing: border-box;
    width: 35%;
    text-align: center;
}

#memory {
    width: 45%;
}

.proc {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(0, 136, 255, 0.25);
}

.part {
    position: relative;
    display: flex;
}

.part::before {
    content: '';
    position: absolute;
    background-color: red;
    border-radius: 10px 0 0 10px;
    width: 5px;
    height: 90%;
    top: 5%;
    left: 60px;
}

.part::after {
    content: '';
    position: absolute;
    background-color: rgba(230, 238, 82, 0.25);
    width: 40px;
    height: 85%;
    top: 5%;
    left: 3%;
    z-index: 1;
}

.proc > input, .part > input {
    width: 50px;
}

.part > .mem-part {
    background: transparent;
    margin-right: 8%;
    z-index: 10;
}

.part > .proc-part {
    width: 90%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
}

input.proc-alloc {
    background-color: rgba(0, 100, 0, 0.25);
}

input.ext-frag {
    background-color: rgba(220, 20, 60, 0.25);
}








/* #proc-1 {
    padding: 50 0;
}

#proc-2 {
    padding: 40 0;
}

#proc-3 {
    padding: 30 0;
}

#proc-4 {
    padding: 10 0;
}

#proc-part-1 {
    padding: 40 0;
}

#proc-part-2 {
    padding: 50 0;
}

#proc-part-3 {
    padding: 30 0;
}

#proc-part-4 {
    padding: 10 0;
}

#proc-part-5 {
    padding: 10 0;
} */


/* #output {
    background-color: #878787;
}

#ram-size, #ram-unit, #process-label {
    color: #fff;
    position: absolute;
    top: 150px;
    right: 230px;
}

#ram-unit {
    top: 150px;
    right: 205px;
}

#process-label {
    right: 690px;
}

#ram, #process-container {
    border: 2px solid brown;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    height: 200px;
    width: 550px;
    transform: rotate(90deg);
    position: absolute;
    top: 350px;
    right: 0;
}

#process-container {
    right: 500px;
}

.partition, .process {
    display: grid;
    place-items: center;
    border-right: 2px solid brown;
    width: 100%;
}

.partition > input, .process > input {
    all: unset;
    overflow: visible;
    background-color: #191919;
    border: none; 
    width: 30px;
    height: 25px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 0.6em;
    display: inline-block;
    color: #fff;
    transform: rotate(-90deg);
}

.green {
    background-color: darkgreen;
} */

/* #ram > .process {
    background-color: darkolivegreen;
} */

/* #ram > .partition > # {
    width: 50px;
} */
